---
layout: layout.liquid
title: Profile Page
---

<div class="profile-section">
        <div class="profile-picture">
            <img src="images/palina-beach.png" alt="Palina Skakun">
        </div>
        <div class="profile-info">
            <h1>Palina Skakun</h1>
            <p>Student at Michigan State Uni, Web Developer</p>
        </div>
    </div>
    <div class="bio-section">
        <div class="bio-box">
            <h3>About me</h3>
            <p>I'm a third year student at Michigan State University and an incoming intern at University of Michigan College of Literature, Science and Arts Information Technology Services. I'm alwys looking for opportunitites to gain more skills in web development! Take a look at my previous work below and click on a design to see a website.</p>
        </div>
        <div class="skills-box">
            <h3>Skills</h3>
            <p>HTML • CSS • JavaScript • Figma • React • Swift • C • C++ • Python </p>
        </div>
    </div>
    <div class="designs-section">
        <h2>Designs</h2>
        <div class="design-row">
            <div class="design-box">
                <a href="https://palina-skakun-portfolio.netlify.app" target="_blank"><img src="images/design1.jpg" alt="Design 1"></a>
            </div>
            <div class="design-box">
                <a href="https://homework-kndysgy6cq-uc.a.run.app/home" target="_blank"><img src="images/design2.jpg" alt="Design 2"></a>
            </div>
            <div class="design-box">
                <a href="https://cute-sprite-16cd01.netlify.app"><img src="images/design3.jpg" alt="Design 3"></a>
            </div>
        </div>
        <div class="design-row">
            <div class="design-box">
                <a href="https://marvelous-basbousa-173abb.netlify.app/" target="_blank"><img src="images/design4.jpg" alt="Design 4"></a>
            </div>
            <div class="design-box">
                <a href="https://zingy-choux-5f03a1.netlify.app" target="_blank"><img src="images/design5.png" alt="Design 5"></a>
            </div>
            <div class="design-box">
                <a href="https://heroic-dodol-2b3b7d.netlify.app" target="_blank"><img src="images/des6.png" alt="Design 6"></a>
            </div>
        </div>
    </div>