body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.profile-section {
    display: flex;
    align-items: center;
    padding: 20px;
}

.profile-picture {
    width: 25%;
}

.profile-picture img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

h3 {
    text-align: center;
    font-size: 2em;
}

.profile-info {
    width: 75%;
    text-align: left;
    margin-left: 40px;
}

.bio-section {
    display: flex;
}

.bio-box, .skills-box {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.skills-box p{
    font-size: 30px;
    text-align: center;
}

.designs-section {
    margin-top: 20px;
}

.designs-section h2 {
    font-size: 2em;
    text-align: left;
    padding: 20px;
}

.design-box {
    width: 30%;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
    display: inline-block;
}

.design-box img {
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
}

.design-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
